<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/bootstrap.php">
    <testsuites>
        <testsuite name="Rest Api Bundle">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./Configuration</directory>
            <directory suffix=".php">./Controller</directory>
            <directory suffix=".php">./DependencyInjection</directory>
            <directory suffix=".php">./Factory</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
